@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--Very-dark-blue-main-BG);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 350px;
    height: 100%;
    background-color: var(--Very-dark-blue-card-BG);
    box-shadow: 0px 12px 30px 16px rgba(0, 0, 0, .3);
    border-radius: 1rem;
}

.card-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.header{
    position: relative;
    cursor: pointer;
    padding-bottom: 0;
}

.image{
    width: 100%;
    border-radius: .5rem;
    display: block;
}

.overlay{
    background-color: var(--Cyan);
    opacity: .5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0.5rem;
    display: none;
}

.view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.header:hover .overlay,
.header:hover .view{
    display: block;
}

.context{
    height: 40%;
    display: flex;
    flex-direction: column;
    /* gap: .5rem; */
}

.title{
    color: var(--White);
    font-weight: 600;
}

.title:hover{
    cursor: pointer;
    color: var(--Cyan);
}

.text{
    margin: 0;
    padding: 0;
    color: var(--Soft-blue);
    font-weight: 400;
    opacity: 0.7;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    border-bottom: 1px solid var(--Very-dark-blue-line); /* div acarak line yapmak yerine border verdik */
}

.ethereum{
    color: var(--Cyan);
    opacity: .8;
    display: flex;
    width: 100%;
    justify-content: left;
    align-items:center;
    gap: .5rem;
    font-weight: 600;
}

.ethereum p{
    font-size: 16px;
}


.clock{
    color: var(--Soft-blue);
    opacity: .7;
    display: flex;
    width: 100%;
    justify-content: right;
    align-items:center;
    gap: .5rem;
    font-size: 16px;
}

/* .line{
    border: 0.1rem solid var(--Soft-blue);
    opacity: 0.2;
    margin: .3rem 0; /* 0 vermezsem kayiyor, ortalattik 
    width: 100%;
     
} 
*/

.avatar{
    display: flex;
    width: 100%;
    justify-content: left;
    align-items:center;
    gap: 1rem;
    font-size: 16px;
    padding-top: 0.5rem;
    
}

.avatar img{
    width: 30px;
    border: 1px solid white ;
    border-radius: 50%;
}
 .avatar p{
    color: var(--Soft-blue);
    font-weight: 300;

 }

 .name:hover{
    cursor: pointer;
    color: var(--Cyan);
 }





.attribution { 
    font-size: 11px; 
    text-align: center;
    color: white; 
    position: absolute;
    bottom: 1rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}